@use "./reusables.scss" as *;

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.active {
  display: block;
}

#root {
  position: absolute;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  color: $header-text-color;
  background-color: $header-background-color;
  padding: 0px $global-horizontal-padding;
  height: 79px;
  box-sizing: border-box;
  border-bottom: 1px solid $header-border-bottom-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "TBCX", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-font-smoothing: antialiased;

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 32px;
    height: 100%;
    width: 1110px;

    @media (max-width: 764px) {
      width: unset;
    }

    &__logo {
      height: 32px;
    }

    &__button-group1 {
      display: flex;
      column-gap: 32px;
      height: 100%;
      margin: 0 40px;

      &__btn-wrapper {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__button {
          all: unset;
          color: $header-buttonGroup-text-color;
          cursor: pointer;
          height: 100%;
          z-index: 999;
        }

        &__line {
          width: 0;
          height: 2px;
          background-color: $border-bottom-blue;
          transition: width 0.4s ease-out;
          z-index: 9999;
        }

        &__line-active {
          width: 100%;
        }

        &__nav {
          position: absolute;
          top: 80px;
          left: 0px;
          display: none;
          flex-direction: column;
          width: 200px;
          transition-delay: 0s;
          opacity: 0;
          pointer-events: none;
          gap: 5px;
          display: flex;
          align-items: start;
          transition: opacity 0.6s ease;
          gap: 16px;
          padding: 32px 0;

          &__link {
            color: $dark-text-color1;
            text-decoration: none;
            line-height: 27px;
            text-rendering: optimizelegibility;
            text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            text-decoration-style: solid;
            text-decoration-thickness: auto;
            font-family: "TBCX", sans-serif;
            font-size: 16px;
          }

          &__link:visited {
          }
        }

        &__nav-shown {
          transition-delay: 0.6s;
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &__button-group2 {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      color: $header-text-color;
      column-gap: 16px;

      &__search-button {
        color: $header-text-color;

        &:visited {
        }
      }

      &__kits-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        color: $link-blue;
        display: flex;
        align-items: center;
        gap: 5px;

        &:visited {
        }
      }
      &__language-switch {
        all: unset;
        font-weight: 800;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  &__dropdown {
    box-sizing: border-box;
    background-color: $header-background-color;
    position: absolute;
    top: 79px;
    min-height: 205px;
    transition: height 0.6s ease-in-out;
    width: 100%;
    display: none;
    padding: 0 $global-horizontal-padding;
    color: $dark-text-color1;
    font-size: 16px;

    &__link {
      color: $link-blue;
      text-decoration: none;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
      // text-shadow: 0 0 2px $link-blue;
      font-size: 14px;

      &:visited {
      }
    }
  }

  &__dropdown-shown {
    display: flex;
    align-items: center;
  }
}

.smooth-scroll-container {
  overflow: hidden;
  margin-top: 80px;
  transition: transform 0.5s ease-out;
  padding: 0px $global-horizontal-padding;
  background-color: $body-background-color;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  &__content {
    box-sizing: border-box;
    padding: 24px 0;
    width: 1110px;
    &__text {
      color: $dark-text-color1;
      font-family: TBCX, sans-serif;
      line-height: 20px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.hero-section {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;

  &__content {
    height: 360px;
    position: relative;
    display: flex;
    width: 1110px;

    &__image-wrapper {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;

      &__image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 6px;
        z-index: 9;
        object-fit: cover;
      }
    }

    &__overlay {
      z-index: 10;
      padding: 80px;
      top: 0;
      font-family: TBCX, sans-serif;
      color: white;

      &__title {
        padding: 15px 0 5px 0;
        margin: unset;
        font-size: 24px;
        font-weight: 700;
      }

      &__text {
        padding: 0px 0 10px 0;
        line-height: 23px;
        font-size: 14px;
        font-weight: 400;
        max-width: 450px;
      }

      &__link {
        display: flex;
        align-items: center;
        max-width: 150px;
        box-sizing: border-box;
        font-weight: 800;
        font-size: 12px;
        background-image: linear-gradient(15deg, rgb(0, 22, 130), rgb(50, 64, 229));
        padding: 18px 20px;
        border-radius: 4px;
        gap: 5px;

        &__svg {
          flex-shrink: 0;
        }
      }
    }
  }
}

.message-section {
  height: 216px;
  box-sizing: border-box;
  padding: 60px 0;
  display: flex;
  justify-content: center;

  &__content {
    width: 1110px;
    &__text {
      -webkit-text-size-adjust: 100%;
      font-family: TBCX, sans-serif;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      box-sizing: border-box;
      margin-top: 0;
      margin-bottom: 0;
      color: $dark-text-color1;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.5;
    }
  }
}

.select-kit-section {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__late-wrapper {
    width: 1110px;
  }

  &__title {
    -webkit-text-size-adjust: 100%;
    font-family: TBCX, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    line-height: 1.5;
    color: $dark-text-color1;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: 540px 540px;
    grid-template-rows: 256px 256px;
    gap: 30px;

    &__small-card {
      position: relative;
      order: 1;
      height: 256px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__img-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        border-radius: 6px;
        z-index: 8;

        &__image {
          -webkit-text-size-adjust: 100%;
          font-family: TBCX, sans-serif;
          cursor: pointer;
          aspect-ratio: auto 1772 / 1181;
          box-sizing: border-box;
          vertical-align: middle;
          border: 0;
          max-width: 100%;
          display: inline-block;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 102%;
          object-fit: cover;
          transition: all 0.25s ease-in-out;
          border-radius: 7px;
        }
      }

      &__content {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-family: TBCX, sans-serif;
        color: white;

        &__title {
          font-size: 24px;
          line-height: 30px;
        }

        &__link-wrapper {
          display: flex;
          align-items: center;
          gap: 5px;

          &__link {
            color: white;
            font-weight: 800;
            text-decoration: underline white;
            font-size: 14px;
          }
        }
      }
    }

    &__big-card {
      position: relative;
      order: 2;
      grid-row-start: span 2;
      grid-row-end: span 2;
      grid-column-start: span 1;
      grid-column-end: span 1;

      &__img-wrapper {
        z-index: 8;

        &__image {
          cursor: pointer;
          aspect-ratio: auto 1772 / 1181;
          box-sizing: border-box;
          vertical-align: middle;
          border: 0;
          max-width: 100%;
          display: inline-block;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 102%;
          object-fit: cover;
          transition: all 0.25s ease-in-out;
          transform: scale(1.02);
          border-radius: 7px;
        }
      }

      &__content {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        padding: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-family: TBCX, sans-serif;
        color: white;

        &__title {
          font-size: 24px;
          line-height: 30px;
        }

        &__link-wrapper {
          display: flex;
          align-items: center;
          gap: 5px;

          &__link {
            color: white;
            font-weight: 800;
            text-decoration: underline white;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.stats-section {
  display: flex;
  justify-content: center;

  &__container {
    max-width: 1110px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 60px 0;

    &__stat {
      background-color: white;
      box-sizing: border-box;
      width: 350px;
      padding: 40px 48px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__number {
        -webkit-text-size-adjust: 100%;
        --swiper-theme-color: #007aff;
        --swiper-navigation-size: 44px;
        font-family: TBCX, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        box-sizing: border-box;
        color: #141719;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.3;
      }
      &__thing {
        -webkit-text-size-adjust: 100%;
        --swiper-theme-color: #007aff;
        --swiper-navigation-size: 44px;
        color: #555f62;
        font-family: TBCX, sans-serif;
        line-height: 1.7;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 16px;
        font-weight: 500;
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.offers {
  font-family: TBCX, sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 60px 0;

  &__late-container {
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;

    &__title {
    }

    &__link {
      display: flex;
      justify-content: center;
      gap: 5px;
      color: $link-blue;
      font-weight: 800;
      font-size: 14px;
    }
  }

  &__middle {
    min-height: 450px;
    display: flex;
    gap: 70px;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    transform: translate3d(0, 0, 0);
    scrollbar-width: 200px;

    &::-webkit-scrollbar {
      background-color: $horizontal-scrollbar-color;
      height: 2px;
    }

    &::-webkit-scrollbar-track-piece {
      background-clip: content-box;
      width: 300px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $border-bottom-blue;
    }

    &__offer {
      user-select: none;
      height: 410px;
      min-width: fit-content;
      width: 350px;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      border: 1px solid $header-border-bottom-color;
      transition: all 0.25s ease-in-out;

      &:hover {
        box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
        background-color: white;
      }

      &__img-wrapper {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        box-sizing: border-box;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 350px;

        position: relative;

        &__image {
          user-drag: none;
          -webkit-user-drag: none;
          user-select: none;
          pointer-events: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          width: 350px;
          height: auto;
          transition: all 0.25s ease-in-out;
          object-fit: fill;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
      }

      &__info {
        padding: 28px;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 350px;
        box-sizing: border-box;

        &__title {
          font-size: 12px;
          font-weight: 800;
          color: #6f787b;
        }
        &__detail {
          font-size: 16px;
        }
      }
    }
  }

  &__bottom {
    position: relative;
    &__controls {
      position: absolute;
      right: -80px;
      top: calc(100% - 25px);

      &__btn {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $border-bottom-blue;
      }
    }
  }
}

.get-app {
  margin: 0 -40px;
  height: 474px;
  padding: 60px 0;
  box-sizing: border-box;

  &__late-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__container {
    max-height: 100%;
    width: 1110px;
    box-sizing: border-box;
    padding: 0 $global-horizontal-padding;
    display: flex;
    justify-content: space-between;

    &__left {
      font-family: TBCX, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      &__title {
        font-size: 24px;
      }
      &__text {
        font-size: 14px;
        color: $header-text-color;
      }

      &__stores {
        display: flex;
        gap: 10px;

        &__store {
          -webkit-text-size-adjust: 100%;
          --swiper-theme-color: #007aff;
          --swiper-navigation-size: 44px;
          font-family: TBCX, sans-serif;
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          box-sizing: border-box;
          background-color: transparent;
          max-width: 100%;
          color: #fff;
          text-transform: uppercase;
          border: 1px solid #e1e4e5;
          border-radius: 4px;
          justify-content: center;
          align-items: center;
          padding: 16px 32px;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.33;
          text-decoration: none;
          transition: background-position 0.25s ease-in-out;
          display: flex;
        }
      }
    }

    &__right {
      &__image {
        width: auto;
        max-height: 90%;
      }
    }
  }
}

.products {
  font-family: TBCX, sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 60px 0;

  &__content {
    &__late-container {
      max-width: 1110px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5;

      &__title {
      }

      &__link {
        display: flex;
        justify-content: center;
        gap: 5px;
        color: $link-blue;
        font-weight: 800;
        font-size: 14px;
      }
    }

    &__middle {
      min-height: 450px;
      display: flex;
      gap: 30px;
      width: 100%;
      overflow-y: hidden;
      scroll-behavior: smooth;
      transform: translate3d(0, 0, 0);

      &::-webkit-scrollbar {
        background-color: $horizontal-scrollbar-color;
        height: 2px;
      }

      &::-webkit-scrollbar-track-piece {
        background-clip: content-box;
        width: 300px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $border-bottom-blue;
      }

      &__product {
        user-select: none;
        height: 410px;
        min-width: fit-content;
        width: 350px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid $header-border-bottom-color;
        transition: all 0.25s ease-in-out;

        &:hover {
          box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
          background-color: white;
        }

        &__img-wrapper {
          user-drag: none;
          -webkit-user-drag: none;
          user-select: none;
          pointer-events: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          cursor: pointer;
          box-sizing: border-box;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          width: 350px;

          position: relative;

          &__image {
            user-drag: none;
            -webkit-user-drag: none;
            user-select: none;
            pointer-events: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            width: 350px;
            height: auto;
            transition: all 0.25s ease-in-out;
            object-fit: fill;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }

        &__info {
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          background-color: transparent;
          width: 350px;
          box-sizing: border-box;
          text-overflow: ellipsis;

          &__title {
            font-size: 16px;
            font-weight: 800;
            color: $dark-text-color1;
          }
          &__detail {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 100px;
          }
        }
      }
    }
    &__bottom {
      position: relative;

      &__controls {
        display: none;
        position: absolute;
        right: -80px;
        top: calc(100% - 25px);

        &__btn {
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: $border-bottom-blue;
        }
      }
    }
  }
}

.hero2 {
  padding: 32px 60px;
  box-sizing: border-box;
  height: 450px;
  display: flex;
  justify-content: center;

  &__container {
    width: 1110px;
    height: 360px;
    position: relative;

    &__content {
      color: white;
      font-family: TBCX, sans-serif;
      padding: 80px;
      position: absolute;
      max-width: 450px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__title {
        font-size: 24px;
      }
      &__text {
        font-size: 14px;
      }

      &__link {
        background-image: linear-gradient(15deg, #001682, #3240e5);
        font-size: 12px;
        box-sizing: border-box;
        padding: 10px 20px;
        max-width: 150px;
        box-sizing: border-box;
        font-weight: 800;
        font-size: 12px;
        padding: 15px 10px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__img-wrapper {
      height: 100%;
      width: 100%;
      &__image {
        border-radius: 6px;

        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

.awards {
  font-family: TBCX, sans-serif;
  box-sizing: border-box;
  padding: 60px 0;
  display: flex;
  justify-content: center;

  &__container {
    width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    &__title {
      font-size: 24px;
    }

    &__list {
      display: flex;
      gap: 56px;
      overflow-x: scroll;
      padding-bottom: 36px;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        background-color: $horizontal-scrollbar-color;
        height: 2px;
      }

      &::-webkit-scrollbar-track-piece {
        background-clip: content-box;
        width: 300px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $border-bottom-blue;
      }

      &__item {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 348px;
        height: 270px;
        flex: 1 0 auto;
        box-sizing: border-box;
        padding: 28px;
        border-radius: 8px;

        &__logo-wrapper {
          &__logo {
          }
        }
        &__title {
          font-size: 16px;
        }
        &__name {
          font-size: 14px;
        }
      }
    }

    &__button-group {
      position: absolute;
      right: -80px;
      bottom: -14px;
      &__button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
}

#Layer_1 {
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: TBCX, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  width: 165px;
  height: 32px;
  fill: currentcolor;
  box-sizing: border-box;
  overflow: hidden;
}

.footer {
  font-family: TBCX, sans-serif;
  background-color: white;
  margin: 0 -40px;
  padding: 0 40px;
  display: flex;
  justify-content: center;

  &__late-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 1110px;
    box-sizing: border-box;
  }

  &__top {
    font-family: TBCX, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px 0;
    &__link {
      color: $dark-text-color1;
    }
    &__button {
      font-family: TBCX, sans-serif;
      background-color: transparent;
      display: flex;
      gap: 5px;
      align-items: center;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 800;
      color: $header-text-color;
    }
  }

  &__middle {
    -webkit-text-size-adjust: 100%;
    color: #555f62;
    font-family: TBCX, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    width: 100%;

    &__column {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__social-links {
        font-weight: 800;
      }

      &__link {
      }
      &__top-link {
        font-weight: 800;
        color: $dark-text-color1;
      }

      &__title {
        padding: 0;
        margin: 0;
        font-weight: 800;
      }
    }

    &__last-column {
    }
  }

  &__divider {
    height: 1px;
    background-color: $header-border-bottom-color;
    width: 100vw;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 89px;

    &__left {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 32px;

      &__svg {
        color: #555f62;
        font-family: TBCX, sans-serif;
        font-weight: 400;
        line-height: 1.7;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 12px;
        height: 12;
        transform: scale(0.6);
        fill: currentcolor;
        box-sizing: border-box;
        overflow: hidden;
      }
    }
    &__right {
      &__button {
        font-family: TBCX, sans-serif;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 12px;
        font-weight: 400;
        color: $header-text-color;
      }
    }
  }
}

.cls-2 {
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: TBCX, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  /* d: path(
    "M 13.92 5.92 c 0.11 0.06 0.26 0.23 0.29 0.26 c 1.47 1.7 4.2 6.2 5.31 8.09 c 1.39 2.36 4.58 8.29 4.85 9.07 c 0.03 0.08 0 0.18 -0.07 0.23 c -0.08 0.05 -0.17 0.09 -0.4 -0.15 c -1.24 -1.25 -4.11 -3.68 -8.84 -5.6 c -0.25 -0.1 -0.47 -0.19 -0.68 -0.28 c -0.66 -0.33 -1.03 -0.82 -1.21 -1.5 c -0.53 -2.01 -0.91 -5.76 -0.39 -9 c 0.02 -0.11 0.08 -0.5 0.21 -0.8 c 0.21 -0.45 0.6 -0.5 0.92 -0.32 Z M 12.14 5.48 c 0.09 0.04 0.16 0.1 0.07 0.41 c -0.47 1.7 -1.14 5.39 -0.45 10.44 c 0.04 0.26 0.07 0.5 0.09 0.73 c 0.04 0.74 -0.2 1.3 -0.69 1.79 c -1.48 1.46 -4.54 3.66 -7.61 4.83 c -0.11 0.04 -0.47 0.18 -0.8 0.21 c -0.5 0.05 -0.74 -0.26 -0.74 -0.63 c 0 -0.13 0.07 -0.34 0.08 -0.38 c 0.74 -2.12 3.29 -6.73 4.37 -8.63 c 1.35 -2.38 4.91 -8.1 5.45 -8.73 c 0.05 -0.07 0.15 -0.1 0.23 -0.06 Z M 14.62 19.18 c 2.01 0.55 5.45 2.09 8 4.16 c 0.09 0.07 0.39 0.32 0.58 0.58 c 0.29 0.41 0.14 0.77 -0.18 0.95 c -0.11 0.06 -0.33 0.11 -0.37 0.12 c -2.21 0.42 -7.48 0.53 -9.67 0.54 c -2.74 0.02 -9.49 -0.19 -10.3 -0.34 c -0.09 -0.01 -0.16 -0.08 -0.17 -0.17 c 0 -0.1 0 -0.19 0.32 -0.27 c 1.71 -0.45 5.25 -1.71 9.28 -4.84 c 0.21 -0.16 0.4 -0.31 0.58 -0.44 c 0.62 -0.41 1.23 -0.48 1.9 -0.3 Z"
  ); */
  box-sizing: border-box;
}

.cls-1 {
  -webkit-text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  font-family: TBCX, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  x: 33.06;
  y: 0.84;
  width: 0.99;
  height: 29.32;
  box-sizing: border-box;
}
