// general

$link-blue: #182cc0;
$border-bottom-blue: rgb(24, 44, 192);
$global-horizontal-padding: 47px;
$dark-text-color1: rgb(20, 23, 25);

// header specific

$header-text-color: rgb(85, 95, 98);
$header-buttonGroup-text-color: rgb(34, 34, 34);
$header-background-color: rgb(255, 255, 255);
$header-border-bottom-color: rgb(238, 241, 241);

// breadcrumbs

// font-faces

@font-face {
  font-family: "TBCX";
  src: url("./src/fonts/TBCXRegular.dee156cc.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "TBCX";
  src: url("./src/fonts/TBCXMedium.8ef1248a.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "TBCX";
  src: url("./src/fonts/TBCXBold.6db5e61d.woff2");
  font-weight: 800;
}
